.input {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    overflow: hidden;

    &__field {
        display: block;
        box-sizing: border-box;
        padding: 5px 0 5px;
        background: transparent;
        text-align: right;
        font-size: 22px;
        border: none;
        width: 100%;
        outline: none;
    }
}